# Config file

project_root="/ifs/loni/faculty/mbraskie/HABLE/PET/taupet"

project_conf="${project_root}/code"

mnicerebellum="${project_root}/code/cerebellumMNI"

# DATA
subjectlist="${project_root}/data/subjectlist_pet.txt"
referencereg="${project_root}/data/reference_regions.txt"
regionsofinterest="${project_root}/data/corticalregions.txt"
FScerebellum="${project_root}/data/FScerebellum.txt"
weightedroi="${project_root}/data/weightedroi.txt"

## CSV DATE --------------------------------------------------

date="12_02_20"

## SGE -------------------------------------------------------

SGE_JOB_NAME=TAUPET
SGE_JOB_OUTPUTS="${project_root}/job_outputs/"

## SGE -------------------------------------------------------

N4="${subj}_N4_brain.nii.gz"

## FSL -------------------------------------------------------

FSLDIR="/usr/local/fsl-5.0.9"
FSLBET="/usr/local/fsl-5.0.9/bin/bet"
FSLMATHS="/usr/local/fsl-5.0.9/bin/fslmaths"
FSLCLUSTER="/usr/local/fsl-5.0.9/bin/cluster"
FSLSTATS="/usr/local/fsl-5.0.9/bin/fslstats"
FSLFLIRT="/usr/local/fsl-5.0.9/bin/flirt"
FSLREOR2STD="/usr/local/fsl-5.0.9/bin/fslreorient2std"
FSLROBUST="/usr/local/fsl-5.0.9/bin/robustfov"
FSLXFM="/usr/local/fsl-5.0.9/bin/convert_xfm"

## ANTS -------------------------------------------------------

IMAGEMATH="/usr/local/ANTs_2.2.0/bin/bin/ImageMath"

## REFERENCE REGION -------------------------------------------------------

REGIONEXTRACT="/ifshome/gprasad/projects/py_code/region_subsets.py"
RRLABEL="/ifs/loni/faculty/mbraskie/HABLE/Scripts/fs_labels/taupet/ctx-${rr}.txt"
LABEL="/ifs/loni/faculty/mbraskie/HABLE/Scripts/fs_labels/taupet/ctx-${ROI}.txt"
RRLABELFS="/ifs/loni/faculty/mbraskie/HABLE/Scripts/fs_labels/taupet/ctx-${cere}.txt"

## T1 & PET PATHS -------------------------------------------------------

PET="${project_root}/output"
PET_OUT="${PET}/${subj}/pet_procd"
MPRAGE="/ifs/loni/faculty/mbraskie/HABLE/MPRAGE/${subj}/baseline"
T1="${MPRAGE}/pet_processing"

out="${project_root}/log"
note="${T1}/${subj}_T1_notes.txt"
NOTE="${out}/${subj}_pet_processing_notes.txt"

## DICOM --> NIFTI CONVERSION -------------------------------------------------------

DWNLD="${project_root}/data/petdicoms/${subj}"
DIRIN="${project_root}/data/petdicoms/${subj}/*PET_BRAIN*/*"
DIRIN2="${project_root}/data/petdicoms/${subj}/*PET_BRAIN*/*/I*"
DIROUT="${PET}/${subj}"
timepoints="${DIROUT}/timepoints"
timepointscans="${timepoints}/timepntscans"

# ROI REGIONS
ROIDIR="${PET_OUT}/roi_analysis"
FSSPACE="${ROIDIR}/fs_space"
T1SPACE="${ROIDIR}/t1_space"
PETSPACE="${ROIDIR}/pet_space"
WEIGHTED="${ROIDIR}/weighted"

# DATA OUT
CSV_OUT="${project_root}/data/${date}_corticalsuvr.csv"
WEIGHT_OUT="${project_root}/data/weightedre/nonadj_rois.csv"
WEIGHTADJ_OUT="${project_root}/data/weightedre/adj_rois.csv"
REF_OUT="${project_root}/data/weightedre/mean_ref.csv"
